---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Listen to a Mix!" }}</h3>

{% assign posts = site.posts %}

<!-- Targeting posts with a category of music -->
<!-- Note to myself - for pagination on this page I would need to look at using the updated plugin which is not supported by GitHub = PIA -->

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% if post.categories contains 'Music' %}
      {% include archive-single.html type=entries_layout %}
    {% endif %}
  {% endfor %}
</div>
